.txtInput:focused{ /*유사클래스*/
    -fx-border-color: skyblue;
    -fx-background-color: yellow;
}
#btn1:hover{/*마우스가 올라갔을 때*/
    -fx-border-color:skyblue;
    -fx-background-color:yellow;
    
}

#btn1:pressed{/*마우스를 누를때*/
    -fx-border-color:skyblue;
    -fx-background-color:red;
    
}